server:
  port: 8887
spring:
  datasource:
    name: community  #数据库名
    url: jdbc:mysql://localhost:3306/community?characterEncoding=utf-8&useSSL=false #url
    username: root  #用户名
    password: 123456  #密码
    driver-class-name: com.mysql.jdbc.Driver #数据库链接驱动
mybatis:
  mapper-locations: classpath:mapper/*.xml  #配置映射文件
  type-aliases-package: ye.qiwu.community.model  #配置实体类
github:
  client:
    id: f0e7bffee1b0113953b3
    secret: 0d179b8d823b3dc520892314e53e932c3c079099
  redirect:
    uri: http://localhost:8887/callback