.media-img{
    width:40px;
    height: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.community-ques-span{
    font-weight: normal;
    font-size: 12px;
    color: #999;
}
.community-tag{
    color: #99cfff;
}