<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ye.qiwu.community.dao.QuestionMapper">
<select id="getSelQuesList" resultType="ye.qiwu.community.model.Question">
    select * from question
    limit #{start},#{pageSize}
</select>
<select id="selQuesCount" resultType="java.lang.Integer">
    select count(1)
    from question

</select>
    <select id="selQuesByUser1Id" parameterType="java.lang.Integer" resultType="ye.qiwu.community.model.Question">
        select * from question
        where creator = #{creator,jdbcType=BIGINT}

    </select>

    <select id="selQuesByQuesId" resultType="ye.qiwu.community.model.Question">
         select * from question
         where id = #{id,jdbcType=BIGINT}
    </select>
    <!--<select id="findByUser1" parameterType="java.lang.String" resultType="ye.qiwu.community.model.User1" >
       select * from user1 where token = #{token,jdbcType=VARCHAR}
   </select>-->
    <insert id="insertQuestion" parameterType="ye.qiwu.community.model.Question" >
         insert into question (title, describes ,gmt_Create ,
          gmt_Modified ,tag,creator
        )
        values (#{title,jdbcType=VARCHAR},
         #{describes,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=BIGINT},
           #{gmtModified,jdbcType=BIGINT}, #{tag,jdbcType=VARCHAR}
           , #{creator,jdbcType=BIGINT}
        )

    </insert>

    <update id="updateQuestion" parameterType="ye.qiwu.community.model.Question">
        update question
        set title = #{title,jdbcType=VARCHAR},describes = #{describes,jdbcType=VARCHAR},
        gmt_Modified = #{gmtModified,jdbcType=BIGINT},tag = #{tag,jdbcType=VARCHAR}
       where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateQuesView" parameterType="ye.qiwu.community.model.Question">
        update question
        set view_count = view_count + #{viewCount,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>